body {
  background: linear-gradient(135deg, #667eea 0%, #a971e0 100%);
}
.container {
  margin: 10px;
  padding: auto;
  border: 5px double cyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 44px;
  color: white;
}
button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 50px;
}
#result {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}

.animal-card {
  display: flex;
  align-items: center;
  gap: 20px; /* 이미지와 텍스트 간격 */
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
}

.animal-card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.animal-info {
  max-width: 300px;
}

.animal-info h2 {
  margin-top: 0;
}

.animal-info a {
  display: inline-block;
  margin-top: 10px;
  color: blue;
}
